body {
  padding: 0;
  margin: 0;
  background-color: #122B40;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

.chat-thread {
  margin: 25px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 20px 16px 20px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}

.chat-thread li.right{
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #0AD5C1;
}

.chat-thread li.right:before{
  right: -80px;
  background-image:url(../../img/心理专题插1.jpg);
}

.chat-thread li.right:after {
  border-right: 15px solid transparent;
  right: -15px;
}

.chat-thread li.left{
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0EC879;
}

.chat-thread li.left:before {
  left: -80px;
  background-image: url(../../img/心理专题插1.jpg);
}

.chat-thread li.left:after {
  border-left: 15px solid transparent;
  left: -15px;
}

.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  font: 32px/48px 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

/* Small screens */
@media all and (max-width: 767px) {
  .chat-thread {
    width: 90%;
    height: 340px;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 768px) {
  .chat-thread {
    width: 50%;
    height: 340px;
  }

  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
.credits{
  text-align:center;
  margin-top:25px;
  color: rgba(255, 255, 255, 0.35);
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
}
.input{
  background: none;
  width: 100%;
  border:none;
  outline: none;
  padding: 5px;
}
.button{
  float:right;
}
.frame{
  margin-left: 24.5%;
  margin-right: 25%;
  width:50%;
  height:60px;
  border: 1px solid #000000;
  padding:7px;
}

#convo{
  background-image:url(../../img/透明黑色树.png);
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: center;
}
/*h2 {
      text-align:center;
      color: coral;
      letter-spacing:25px;
      font-weight:bold;
      font-size:50px;}     */
      p {
       width:50%;
        color:rgba(255, 255, 255, 0.35);
        margin-top: -0.5%;
        margin-left:23%;
        font-family: 'Noto Sans', sans-serif;
        font-size:15px;
      text-align:right;
      white-space:pre-wrap;
      
      }
 
/*.container{
  min-height: 800PX;
background:url(../../img/树叶.jpg);
 background-size:50% 50%;
  background-repeat:no-repeat;
  background-position: 50% 190px;
}
body{background:url(../../img/雪花树.jpg);
 
 background-size:100% 100px;
 background-repeat:no-repeat;
 }
 
.box{
  color:black;
  border:1px solid black;
  width:100%;
  height:80px;
  padding:6px;
  margin-top:700px;
}
.button{
  float: right;
}

.input{background:none;
 width:100%;
 padding: 9px;
 outline: none;
 border:none;
 color: #808080;
}
.chat-bubble{border:1px solid gainsboro;
width:100%;
height:50px;
padding:10px;
margin-top: 10px;}

.chat-bubble-me{background: none;
  text-align:left;
  
}
.chat-bubble-op{background: none;
  text-align:right;

}


     */*/