.container{
  min-height: 800px;
border: 2px dotted gainsboro;
background-image: url(../../img/风筝.jpg);
background-repeat:no-repeat;
background-size:100% 800px;
}

h2{
  text-align:center;
  color:#6495ED;
  letter-spacing:5px;
  font-weight：bold;
  font-size:40px;
}
.chat-bubble{
width:100%;
height:40px;
padding:5px;
margin-top:5px;
}

.chat-bubble-me{
  float: left;
  width: 60%;
  text-align:left;
}
.chat-bubble-op{
  float: right;
  width: 60%;
  text-align:right;
}