h2{
  text-align:center;
  color:#4682B4;
  letter-spacing: 25px;
  font-weight: bolder;
  font-size:50px;
  margin-top:35px;
}

h4{
  font-weight: bold;
  font-size:30px;
  margin-left: 55px;
  margin-top: 25px;
}

.name{
  font-size:25px;
  margin-left:25px;
  white-space: pre-wrap;
  }
.container{
  min-height: 800px;
  background-image:url(../img/心理游戏1.jpg);
  background-reprat:no-repeat;
  background-size: 100% 800px;
}

.state{
  font-size:20px;
  margin-left:25px;
  white-space: nowrap;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ol img {height: 110px;width:110px; 
           margin-left: 40px;
           margin-top: 18px;}
#li {
  display: inline-block;
  float: right;
  width:70%;
}
